/* Reception Container */
.reception-container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-image: url('./images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
    max-width: 500px; /* Ensure it doesn't get too wide */
    margin: 0 auto; /* Center horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%; /* Adjust as needed */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center vertically and horizontally */
}

/* Button Container */
.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 80px;
}

/* Icon Container */
.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.icon-container img {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    object-fit: contain; /* Ensure the image fits within the box without being distorted */
}

.icon-container .icon-label {
    display: none;
    position: absolute;
    top: 100px;
    text-align: center;
    background-color: #ceb87b;
    color: white;
    border-radius: 5px;
    padding: 5px 0;
    font-size: 16px;
    white-space: nowrap;
    padding: 5px;
    font-family: cursive;
}

.icon-container:hover .icon-label {
    display: block;
}
